<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/change" method="post">
    <input type="password" name="currentpassword" class="detail" placeholder="Current Password"/><br />
    <input type="password" name="newpassword" class="detail" placeholder="New Password" />
    <input type="password" name="confirmnewpassword" class="detail" placeholder="Confirm New Password" />
    <button class="btn int">Register</button>
  
  </form>
</body>
</html>