<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Welcome</title>
</head>
<body>
  <div class="main">
    <div class="middle">
      <div class="left">
        <div class="mathi">
          <div class="gadesh">
            <img src="/images/ganesha.png">
          </div>
          <div class="writing">
            <h1>Prakash Medical Pvt Ltd</h1>
          </div>
        </div>
        <div class="tala">
          <h3>"Healing lives through compassionate care and innovation."</h3>
        </div>
      </div>
      <div class="right">
        <div class="buttons">
          <a href="/login" ><button>Doctor Login</button></a>
          <a href="/registerbyadmin" ><button>Doctor Registration</button></a>
          <a href="/appointment" ><button>Book Appointment</button></a>
          <a href="/daktars" ><button>Our Doctors</button></a>
          <a href="/llm" ><button>View Lab Report</button></a>
          <a href="/ptrpt" ><button>View Patient Report</button></a>
        </div>
        <div class="social">
          <div class="handles">
            <a href="https://www.facebook.com/prathampoudel12" target="_blank"><img src="/images/facebook.png" ></a>
            <a href="https://www.instagram.com/prathampoudel" target="_blank"><img src="/images/insta.png" ></a>
            <a href="https://www.twitter.com" target="_blank"><img src="/images/twitter.png" ></a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</body>
</html> 


