<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Data Form</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
      }

      h1 {
        text-align: center;
        color: #4caf50;
        margin-bottom: 30px;
      }

      form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin-top: 0px; /* Adjust this value for vertical positioning */
      }

      label {
        display: block;
        margin-bottom: 8px;
        color: #333;
      }

      input,
      select {
        width: calc(100% - 16px);
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
      }

      button:hover {
        background-color: #45a049;
      }

      .flash {
        background-color: red;
        position: absolute;
        top: 8px;
      }
    </style>
  </head>
  <body>
    <div class="flash">
      <% if (successMessage) { %>
      <div class="alert alert-success">
        <a href="/searchmedical"><%= successMessage %> </a>
      </div>
      <% } %> <% if (errorMessage) { %>
      <div class="alert alert-danger"><%= errorMessage %></div>
      <% } %>
    </div>
    <h1>Patient Data Form</h1>
    <form action="/patient" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="age">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="age">Age:</label>
      <input type="number" id="age" name="age" required />

      <label for="gender">Gender:</label>
      <select id="gender" name="gender" required>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>

      <label for="symptoms">Symptoms (comma-separated):</label>
      <input type="text" id="symptoms" name="symptoms" required />

      <label for="medicinesUsed">Medicines Used (comma-separated):</label>
      <input type="text" id="medicinesUsed" name="medicinesUsed" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
