<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Welcome</title>
</head>
<body>
  <div class="visme_d" data-title="Doctor Registration" data-url="rx9vm1oo-doctor-registration" data-domain="forms" data-full-page="false" data-min-height="500px" data-form-id="29083"></div><script src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script>
  
</body>
</html>