
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/register.css">
  <title>Welcome</title>
</head>
<body>
  <div class="main">
    <div class="middle">
      <div class="left">
        <div class="mathi">
          <div class="gadesh">
            <img src="/images/ganesha.png">
          </div>
          <div class="writing">
            <h1>Ganapati Medico Pharma</h1>
          </div>
        </div>
        <div class="tala">
          <h3>"Healing lives through compassionate care and innovation."</h3>
        </div>
      </div>
      <div class="right">
        <div class="txtt"><h1>REGISTER</h1></div>
        
        <form action="/register" method="post">
          <input type="text" name="medicalname" class="detail" placeholder="Name of the Medical"/><br />
          <input type="text" name="connumber" class="detail" placeholder="Contact Number"/><br />
          <input type="text" name="address" class="detail" placeholder="Address of Medical"/><br />
          <input type="email" name="email" class="detail" placeholder="Email"/><br />
          <input type="text" name="username" class="detail" placeholder="Username"/><br />
          <input type="text" name="speciality" class="detail" placeholder="Speciality"/><br />
          <input type="text" name="name" class="detail" placeholder="Fullname"/><br />
          <input type="password" name="password" class="detail" placeholder="Password" />
          <button class="btn int">Register</button>
        
        </form>
        
      </div>
    </div>
  </div>
  <script>
  </script>
</body>
</html>